<Html>
    <head><title>Todo list</title>
    <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="box" id="heading">
            <h1> <%=dayOfWeek %>   </h1>
        </div>
        <div class="box">
            <% for(var i = 0; i < listText.length; i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%=listText[i]%></p>  
                    
                </div>
            <%}%> 
            <form class="item" action="/" method="post">
                <input type="text" name="newTask" placeholder="New Item" autocomplete="off">
                <button type="submit" name="button">+</button>
            </form>   
        </div>
    </body>
</Html>